<a href="https://colab.research.google.com/github/NileshMandal/Deep-Learning/blob/main/Customer_Churn_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df['Gender']= label_encoder.fit_transform(df['Gender'])
  
df['Gender'].unique()

array([0, 1])

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df['Geography']= label_encoder.fit_transform(df['Geography'])

In [ ]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
X=df[['CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]

In [ ]:
X.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [ ]:
y=df['Exited']
y.head(5)

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [ ]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
import tensorflow as tf

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
classifier = Sequential()

In [ ]:
classifier.add(Dense(units=6,activation="relu"))

In [ ]:
classifier.add(Dense(units=6,activation="relu"))

In [ ]:
classifier.add(Dense(units=1,activation = 'sigmoid'))

In [26]:
classifier.compile(optimizer='adam', loss='BinaryCrossentropy', metrics=['accuracy'])

In [27]:
classifier.fit(X_train,y_train,batch_size=32,epochs = 100)

Epoch 1/100
210/210 [==============================] - 1s 2ms/step - loss: 0.3516 - accuracy: 0.8530
Epoch 2/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8524
Epoch 3/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3517 - accuracy: 0.8549
Epoch 4/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8539
Epoch 5/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3518 - accuracy: 0.8536
Epoch 6/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8543
Epoch 7/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8542
Epoch 8/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8528
Epoch 9/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8540
Epoch 10/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8545
Epoch 11/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8539
Epoch 12/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8540
Epoch 13/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8551
Epoch 14/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8546
Epoch 15/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8542
Epoch 16/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8545
Epoch 17/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8552
Epoch 18/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8536
Epoch 19/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8536
Epoch 20/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8536
Epoch 21/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8536
Epoch 22/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8545
Epoch 23/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8545
Epoch 24/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8537
Epoch 25/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8533
Epoch 26/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8543
Epoch 27/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8543
Epoch 28/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8543
Epoch 29/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8527
Epoch 30/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8540
Epoch 31/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8546
Epoch 32/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8534
Epoch 33/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8545
Epoch 34/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8545
Epoch 35/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8542
Epoch 36/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8548
Epoch 37/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8533
Epoch 38/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8543
Epoch 39/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8533
Epoch 40/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8546
Epoch 41/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8537
Epoch 42/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8533
Epoch 43/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8542
Epoch 44/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8546
Epoch 45/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8543
Epoch 46/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8542
Epoch 47/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8540
Epoch 48/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8540
Epoch 49/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8546
Epoch 50/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8531
Epoch 51/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8539
Epoch 52/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8531
Epoch 53/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8549
Epoch 54/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8540
Epoch 55/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8540
Epoch 56/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8540
Epoch 57/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8549
Epoch 58/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8543
Epoch 59/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8530
Epoch 60/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8537
Epoch 61/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8545
Epoch 62/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8530
Epoch 63/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8536
Epoch 64/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8528
Epoch 65/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8536
Epoch 66/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3484 - accuracy: 0.8546
Epoch 67/100
210/210 [==============================] - 1s 3ms/step - loss: 0.3483 - accuracy: 0.8540
Epoch 68/100
210/210 [==============================] - 1s 3ms/step - loss: 0.3483 - accuracy: 0.8542
Epoch 69/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8531
Epoch 70/100
210/210 [==============================] - 1s 3ms/step - loss: 0.3483 - accuracy: 0.8546
Epoch 71/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8542
Epoch 72/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8542
Epoch 73/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3484 - accuracy: 0.8533
Epoch 74/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8540
Epoch 75/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8543
Epoch 76/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8528
Epoch 77/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8546
Epoch 78/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8542
Epoch 79/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8545
Epoch 80/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8534
Epoch 81/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8539
Epoch 82/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8543
Epoch 83/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8534
Epoch 84/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8540
Epoch 85/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8533
Epoch 86/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8543
Epoch 87/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8534
Epoch 88/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8531
Epoch 89/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8542
Epoch 90/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8554
Epoch 91/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8549
Epoch 92/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8540
Epoch 93/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8530
Epoch 94/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8533
Epoch 95/100
210/210 [==============================] - 1s 4ms/step - loss: 0.3475 - accuracy: 0.8540
Epoch 96/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8536
Epoch 97/100
210/210 [==============================] - 1s 3ms/step - loss: 0.3473 - accuracy: 0.8540
Epoch 98/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8533
Epoch 99/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8536
Epoch 100/100
210/210 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8540

In [36]:
prediction = classifier.predict(X_test)
prediction = (prediction > 0.5)

104/104 [==============================] - 0s 1ms/step

In [40]:
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay,accuracy_score

In [38]:
cm=confusion_matrix(y_test,prediction)
print(cm)

[[2585   72]
 [ 373  270]]

In [45]:
print(round(accuracy_score(y_test, prediction),2))

0.87